---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="404">
  <section class="my-12">
    <div class="container">
      <h1>404</h1>
    </div>
  </section>
  <section class="my-12">
    <div class="space-content container">
      <p class="text-2xl">Opa, essa página ainda não existe, mas calma que estamos arrumando as coisas.</p>
      <a class="button" href="/">Volte para home</a>
    </div>
  </section>
</DefaultLayout>
