---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Feito com ❤️ por <a
          href="https://github.com/johnnyvaz">Johnny Vaz(Papai)</a
        >.
      </p>
    </div>
  </section>
</footer>
